/* header/nav and body style */
body { 
    background-color: #212445;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

header {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color:#434F75;
    border-radius:15px;
    text-transform:lowercase;
    text-decoration:none;
    font-weight:bold;
    font-size: 15px;
    margin-bottom:20px;
}

header nav {
    display: flex; 
    justify-content:flex-end;
    gap: 15px;
}

nav a {
    text-decoration: none;
    color: #9eb1e9;
    font-size: 15px;
    font-weight: bold;
}

.nameLink {
font-size: 30px;
font-weight: bold;
text-transform: lowercase;  
margin-right:auto;
}

.nameLink:hover , nav a:hover {
    color: #FFFF;
}

/* about and example pic container */

.contentContainer {
    display: flex; 
    align-items: space-between; 
    gap: 40px; 
}

/* About box styling */

.aboutbox {
    display: flex;
    flex-direction:column;
    align-items: left;
    gap: 20px;
}

.about-item {
    max-width: 200px;
    border-radius: 15px;
    background-color: #3D4B72;
    padding: 20px;
    color:#9eb1e9;
    text-align: left;
}

/* Selfie image styling */

img.selfiemod {
    justify-content:left;
    border-radius:15px;
}

/* art example styling */



.examplePicMod {
    height: auto;
    width:auto;
    max-width:100%;
/* Apply Vertical Fade effect */
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0));
}

.exampleContainer {
    display: flex; 
    gap: 20px; 
}
