/* header/nav and body style */
body { 
    background-color: #212445;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

header {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius:15px;
    padding: 15px;
    background-color: #434F75;
    text-transform:lowercase;
    text-decoration:none;
    font-weight:bold;
    font-size: 15px;
    margin-bottom:20px;
}

header nav {
    display: flex; 
    justify-content:flex-end;
    gap: 15px;
}

nav a {
    text-decoration: none;
    color: #9eb1e9;
    font-size: 15px;
    font-weight: bold;
}

.nameLink {
font-size: 30px;
font-weight: bold;
text-transform: lowercase;  
margin-right:auto;
}


/*content container */

.contentcontainer {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;    
    gap: 40px;

}

/* header text styling */

h3
{
    font-weight:normal;
}


h2, h3 {
    color: #9eb1e9; 

}

ol {
    max-width:fit-content;
    display: flex;
    flex-wrap:nowrap;
    justify-content: space-between;
    list-style-position: inside;
    border-radius:15px;
    background-color: #3d4b72;
    color: #9eb1e9;
    gap: 20px;
    padding: 15px;
    
}

ul {
    max-width:fit-content;
    display: flex;
    flex-wrap:nowrap;
    list-style:none;
    justify-content: space-between;
    list-style-position: inside;
    border-radius:15px;
    background-color: #3d4b72;
    color: #9eb1e9;
    gap: 20px;
    padding: 15px;
}

ol li, ul li {
    counter-increment: list-counter;
    display: list-item; 
    text-align: center;
    max-width: 100%; 

}

.listItem {
    display:flex;
    background-color:#212445;
    padding:10px;
    border-radius:15%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}


.listPicture img { 
    border-radius:100%;
    height: 200px;
    width: 100%;
    object-fit:contain;

}

/* hover effect nav */

.nameLink:hover , nav a:hover {
    color: #FFFF;
}
